@font-face{
	font-family: 'Helvetica-Bold';
	src: url('../fonts/helvetica/Helvetica-Bold.ttf');
    src: url('../fonts/helvetica/Helvetica-Bold.woff');
    src: url('../fonts/helvetica/Helvetica-Bold.woff2');
}
@font-face{
	font-family: 'Helvetica-Regular';
	src: url('../fonts/helvetica/Helvetica-Regular.ttf');
    src: url('../fonts/helvetica/Helvetica-Regular.woff');
    src: url('../fonts/helvetica/Helvetica-Regular.woff2');
}