@font-face{
	font-family: 'Helvetica-Bold';
	src: url('../fonts/helvetica/Helvetica-Bold.ttf');
    src: url('../fonts/helvetica/Helvetica-Bold.woff');
    src: url('../fonts/helvetica/Helvetica-Bold.woff2');
}
@font-face{
	font-family: 'AcuminPro';
	src: url('../fonts/acumin/AcuminPro.ttf');
    src: url('../fonts/acumin/AcuminPro.woff');
    src: url('../fonts/acumin/AcuminPro.woff2');
}
@font-face{
	font-family: 'HelveticaRegular';
	src: url('../fonts/helvetica/HelveticaRegular.ttf');
    src: url('../fonts/helvetica/HelveticaRegular.woff');
    src: url('../fonts/helvetica/HelveticaRegular.woff2');
}
@font-face{
	font-family: 'HelveticaOblique';
	src: url('../fonts/helvetica/HelveticaOblique.ttf');
    src: url('../fonts/helvetica/HelveticaOblique.woff');
    src: url('../fonts/helvetica/HelveticaOblique.woff2');
}