@media(min-width: 768px){
    .img--text-overlay{
        max-width: calc(100% - 160px);
        width: 100%;
    }
    .img--text-overlay h1,h2{
        font-size: 24px;
    }
    .img--text-overlay p{
        font-size: 16px;
        margin: 20px 0 20px 0;
    }
    h1::after{
        margin: 40px 0 40px 0;
    }

}