/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media(min-width: 375px){
    .hide{
        display: none;
    }
    .hide-header{
        display: none;
    }
}
@media(max-width: 375px){
    .hide-arrow{
        display: none;
    }
}

@media(min-width: 768px){
    .img--text-overlay{
        max-width: calc(100% - 160px);
        width: 100%;
    }
    .img--text-overlay h1,h2{
        font-size: 24px;
    }
    .img--text-overlay p{
        font-size: 16px;
        margin: 20px 0 20px 0;
    }
    h1::after{
        margin: 40px 0 40px 0;
    }
    .more-news-container{
        max-width: 608px;
        width: 100%;
    }
    .articles-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .more-news--travell, .more-news--technology{
        max-width: 284px;
        width: 100%;
    }
    .trending-container{
        max-width: 608px;
        width: 100%;
    }
    .articles{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .article{
        max-width: 284px;
        width: 100%;
    }
    .happening-container{
        max-width: 608px;
        width: 100%;
    }
    .happening-img img{
        width: 100%;
        max-height: 430px;
    }
    .happening-txt h3{
        margin-bottom: 227px;
    }
    .last-articles-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .last-articles-container img{
        max-width: 284px;
    }
    .hide-arrow{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .hide-header{
        display: block;
    }
    .container{
        max-width: 608px;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto;
    }
    .container-header{
        max-width: 608px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .hide-back-arrow{
        display: none;
    }
    .main-image-container{
        max-width: 608px;
        width: 100%;
    }
    .story{
        margin: 0 19px 0 30px;
    }
    .world{
        margin: 0 0 0 19px;
    }
    .hide-arrow a{
        color: #A6ADB4;
        font-size: 11px;
        font-family: 'AcuminPro';
    }
    .hide-arrow a:hover{
        color:#202124 ;
    }
    .form-section{
        max-width: 446px;
        width: 100%;
    }
    .personal-img-container{
        max-width: 608px;
        width: 100%;
    }
    .paragraphs{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .paragraphs p{
        max-width: 284px;
        width: 100%;
    }
    .paragraph-time{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .personal-img-space p{
        max-width: 279px;
        width: 100%;
    }
    .last-section-container{
        max-width: 608px;
        width: 100%;
        margin: 0 auto;
    }
    .last-img-container{
        max-width: 608px;
        width: 100%;
    }
    .last-img-container img{
        width: 100%;
    }
    .last-paragraph-container{
        max-width: 608px;
        width: 100%;
    }
    .last-paragraph-container p{
        width: 100%;
    }
}


@media(min-width: 1367px){
    .news{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .articles-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    } 
     .more-news-container{
        max-width: 383px;
        margin: auto;
    } 
    .hide{
        display: block;
    }
    .trending-container{
        max-width: 1200px;
        width: 100%;
    }
    .article{
        max-width: 360px;
        width: 100%;
    }
    .happening-container{
        max-width: 1200px;
        width: 100%;
    }
    .happening-img img{
        max-width: 760px;
        width: 100%;
    }
    .last-articles-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .common-container-articles{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .overlay-text-articles{
        max-width: 760px;
        width: 100%;
    }
    .last-articles-container img{
        max-width: 360px;
        width: 100%;
    }
    footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .links-list-container{
        max-width: 378px;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .icons-email{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .container{
        max-width: 1160px;
        width: 100%;
    }
    .container-img-form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .forms-container{
        margin: auto;
    }
    .container-header{
        max-width: 1160px;
        width: 100%;
    }
    .personal-img-container{
        max-width: 1200px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .paragraph-time {
        padding-left: 20px;
    }
    .last-section-container{
        max-width: 1200px;
        width: 100%;
    }
    .last-img-container{
        max-width: 1160px;
        width: 100%;
    }
    .last-img-container img{
        width: 100%;
    }
    .last-paragraph-container{
        max-width: 760px;
        width: 100%;
        margin: 0 0 0 20px;
    }
    .last-paragraph-container p{
        width: 100%;
    }
}