*{
    box-sizing: border-box;
}

/*header*/
.header{
    background-color: #F6F8F9;
}
.header-container{
    max-width: calc(100vw - 40px);
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.header--logo-container{
    display: flex;
    align-items: center;
}
.header--logo{
    text-transform: uppercase;
    color: #FA6980;
    font-size: 13px;
    font-family: 'Helvetica-Bold';
}
.header--logo:hover{
    color: #FA6980;
    opacity: 70%;
}
.header--nav-container{
    max-width: 317px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.navbar{
    max-width: 247px;
    width: 100%;
}
.navbar-ul{
    display: flex;
    justify-content: space-between;
}
.navbar-link{
    text-transform: uppercase;
    color: #343638;
    opacity: 50%;
    font-size: 11px;
    font-family: 'Helvetica-Bold';
}
.navbar-link:hover{
    color: #343638;
    opacity: 100%;
}
.header--img{
    max-width: 30px;
}
.header--img img{
    width: 100%;
}
/* img-section */
.news--img-container{
    max-width: 840px;
    width: 100%;
}
.news--img img{
    width: 100%;
}
.news--img-container{
    position: relative;
}
.img--text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.img--text-overlay h1{
    color:#FFFFFF ;
    font-size: 20px;
    font-family: 'Helvetica-Bold';
}
h1::after{
    content: "";
    display: block;
    max-width: 560px;
    width: 100%;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #FFFFFF;
  }
  .img--text-overlay h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Helvetica-Bold';
}
.img--text-overlay p {
    color: #FFFFFF;
    font-size: 13px;
    font-family: 'Helvetica-Regular';
    margin: 20px 0 20px 0;
    max-width: 560px;
    width: 100%;
}
button{
    font-size: 11px;
    color: #FFFFFF;
    background-color: #FA6980;
    padding: 12px 30px 12px 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica-Bold'; 
} 
